
/*#topbgimage {*/
	/*!*background-image: url(../documentation/image/wireframes.gif);*!*/
	/*background-size: cover;*/
	/*background-repeat: no-repeat;*/
	/*background-position: center center;*/
/*}*/
#top, #works, #contact {
	padding-top: 60px;
}

.pic {
	width: 500px;
	height: 300px;
}

h1 {
	font-family: 'Pacifico', Helvetica, sans-serif;
	font-size: 80%;
	color: #000000;

}
html {
	display: flex;
	height: 100%;
}

body {
	height: 100%;
	width: 100%;
	background: #1d1b1c !important;
	color: #dddddd;
}
.wide {
	width:100%;
	height:100%;
	height:calc(100% - 1px);
	background-image:url(../img/countyfair.jpg);
	background-size:cover;
}
.thumbnail {
	width: 100%;
	height: 100%;
}
img {
	width:100%;
}

.logo {
	color:#fff;
	font-weight:800;
	font-size:14pt;
	padding:25px;
	text-align:center;
}

.line {
	padding-top:20px;
	white-space:no-wrap;
	overflow:hidden;
	text-align:center;
}