
	/*#topbgimage {*/
	/*!*background-image: url(../documentation/image/wireframes.gif);*!*/
	/*background-size: cover;*/
	/*background-repeat: no-repeat;*/
	/*background-position: center center;*/
	/*}*/
#works, #contact {
	padding-top: 60px;
}

.pic {
	width: 500px;
	height: 300px;
}

h1 {
	font-family: 'Pacifico', Helvetica, sans-serif;
	font-size: 80px;
	text-align: center;
	color: #000000;
}

html {
	display: flex;
	height: 100%;
}

body {
	height: 100%;
	width: 100%;
	background: #1d1b1c !important;
	color: #dddddd;
}

.wide {
	min-height: 100vh;
	background-image:url(../img/countyfair.jpg);
	background-size:cover;
}

.thumbnail {
	width: 100%;
	height: 100%;
}

img {
	width:100%;
}

.Aligner {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 50px;
}

.Aligner-item {
	max-width: 50%;
}

.Aligner-item--top {
	align-self: flex-start;
}

.Aligner-item--bottom {
	align-self: flex-end;
}