
/*#topbgimage {*/
	/*!*background-image: url(../documentation/image/wireframes.gif);*!*/
	/*background-size: cover;*/
	/*background-repeat: no-repeat;*/
	/*background-position: center center;*/
/*}*/
.pic {
	width: 500px;
	height: 300px;
}

body,html {
	height: 100%;
}

body {
	padding-top: 50px;
}

.wide {
	width:100%;
	height:100%;
	height:calc(100% - 1px);
	background-image:url(../img/countyfair.jpg);
	background-size:cover;
}

.wide img {
	width:100%;
}

.logo {
	color:#fff;
	font-weight:800;
	font-size:14pt;
	padding:25px;
	text-align:center;
}

.line {
	padding-top:20px;
	white-space:no-wrap;
	overflow:hidden;
	text-align:center;
}